.swal-button--confirm {
	background-color: #2f4cdd;
}
.swal-button--defeat {
	background-color: #2f4cdd;
}
.swal-button--defeat {
	background-color: #d4d4d4;
}
.swal-button--catch {
	background-color: #2f4cdd;
}
